body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 600px;
    padding: 0;
    margin: 0;
    background-color: thistle;
}

/*Formatação do cabeçalho*/

#head{
    padding: 10px 0 0 0;
    background-color: powderblue;
}

#areaUsuario{
    width: 80%;
    margin: auto;
}

#conteudoHead{
    width: 1200px;
    margin: auto;
}

#usuario{
    width: 210px;
    float: right;
    margin-top: -35px;
    margin-right: 1%;
}

#icons{
    float: right;
    margin: -20px 10px 0 0;
}

#icons a{
    padding: 0 2.5px;
}

#conteudoHead h1{
    font-size: 50pt;
    padding: 0;
    margin: 0;
    width: 290px;
}

#conteudoHead h1 a{
    text-decoration: none;
    color: black;
}

#departamentos{
    text-align: center;
}   

#departamentos li{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    color: black;
}

#departamentos li:hover{
    background-color: antiquewhite;
    font-weight: bold;
}


/*Fim Cabeçalho*/

/*Barra de pesquisa*/

#barraPesquisa{
    width: 45%;
    margin-left: 32%;
    margin-top: -50px;
    height: 30px;
}

#barra{
    width: 80%;
    height: 93%;
    float: left;
    border: none;
    background-color: oldlace;
    border-radius: 5px 0 0 5px;
}

#bttPesquisa{
    width: 65px;
    height: 100%;
    border: none;
    float: left;
    border-radius: 0 5px 5px 0;
    background-color: lightseagreen;
}

#bttPesquisa:hover{
    background-color: cadetblue;
}

#bttPesquisa:active{
    background-color: dodgerblue;
}

/*Fim Barra de pesquisa*/

/*conteudo do site*/

#conteudoSite{
    width: 1200px;
    margin: auto
}

#boasVindas{
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    margin: 15px 0;
    background-color: papayawhip;
    padding: 15px;
}

#anuncios{
    padding: 0;
    margin: 0;
}

#anuncios span{
    font-weight: bold;
    font-size: 28pt;
    opacity: 0;
    transition: 0.3s;
    color: white;
}

#anuncios #grandeAnuncio div .blocoAnuncio{
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
}

#anuncios .anuncioMenor div .blocoAnuncio{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.6);
}

#anuncios .anuncioMenor div .textoAnuncio{
    position: relative;
    top: 100px; 
}

#anuncios #grandeAnuncio div .textoAnuncio{
    position: relative;
    top: 225px;   
}

.anuncioMenor div{
    width: 250px;
    height: 250px;
    float: right;
    margin-right: 345px;
    text-align: center;
}

.anuncioMenor:nth-child(2) div{
    background: url(../assets/produtos/celular.png) no-repeat;
    background-size: 100%;
}

#anuncios .anuncioMenor:nth-child(2):hover div span{
    opacity: 1;
}

.anuncioMenor:nth-child(3) div{
    background: url(../assets/produtos/computador.jpg) no-repeat;
    background-size: 100%;
}

#anuncios .anuncioMenor:nth-child(3):hover div span{
    opacity: 1;
}

.anuncioMenor:nth-child(4) div{
    background: url(../assets/produtos/sofa.png) no-repeat;
    background-size: 100%;
    margin-right: 95px;
    margin-top: -500px;
}

#anuncios .anuncioMenor:nth-child(4):hover div span{
    opacity: 1;
}

.anuncioMenor:nth-child(5) div{
    background: url(../assets/produtos/cadeiraGamer.png) no-repeat;
    background-size: 100%;
    margin-right: 95px;
    margin-top: -250px;
}

#anuncios .anuncioMenor:nth-child(5):hover div span{
    opacity: 1;
}

#grandeAnuncio div{
    width: 500px;
    height: 500px;
    background: url(../assets/produtos/geladeira.png) no-repeat;
    background-size: 100%;
    float: left;
    margin-left: 105px;
    text-align: center;
}

#anuncios #grandeAnuncio:hover div span{
    opacity: 1;
}

/*Fim conteudo do site*/

.clear{
    clear: both;
}