body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 600px;
    padding: 0;
    margin: 0;
    background-color: thistle;
}

/*Formatação do cabeçalho*/

#head{
    padding: 10px 0 0 0;
    background-color: powderblue;
}

#areaUsuario{
    width: 80%;
    margin: auto;
}

#conteudoHead{
    width: 1200px;
    margin: auto;
}

#usuario{
    width: 210px;
    float: right;
    margin-top: -35px;
    margin-right: 1%;
}

#icons{
    float: right;
    margin: -20px 10px 0 0;
}

#icons a{
    padding: 0 2.5px;
}

#conteudoHead h1{
    font-size: 50pt;
    padding: 0;
    margin: 0;
    width: 290px;
}

#conteudoHead h1 a{
    text-decoration: none;
    color: black;
}

#departamentos{
    list-style-type: none;
    text-align: center;
}

#departamentos li{
    display: inline-block;
    padding: 10px 20px
}

.dropdownBtn{
    font-weight: bold;
    padding: 10px 20px;
}

.dropdown:hover .dropdownBtn{
    background-color: antiquewhite;
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdownItens{
    position: absolute;
    background-color: antiquewhite;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

.dropdownItens a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdownItens a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdownItens{
    display: block;
}

/*Fim Cabeçalho*/

/*Barra de pesquisa*/

#barraPesquisa{
    width: 45%;
    margin-left: 32%;
    margin-top: -50px;
    height: 30px;
}

#barra{
    width: 80%;
    height: 93%;
    float: left;
    border: none;
    background-color: oldlace;
    border-radius: 5px 0 0 5px;
}

#bttPesquisa{
    width: 65px;
    height: 100%;
    border: none;
    float: left;
    border-radius: 0 5px 5px 0;
    background-color: lightseagreen;
}

#bttPesquisa:hover{
    background-color: cadetblue;
}

#bttPesquisa:active{
    background-color: dodgerblue;
}

/*Fim Barra de pesquisa*/

/*conteudo do site*/

#conteudoSite{
    width: 1200px;
    margin: auto
}

#boasVindas{
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    margin: 15px 0;
    background-color: papayawhip;
    padding: 15px;
}

#anuncios{
    padding: 0;
    margin: 0;
    text-align: center;
}

#anuncios a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#grandeAnuncio div{
    width: 500px;
    height: 500px;
    background: url(../assets/produtos/geladeira.png) no-repeat;
    background-size: 100%;
    float: left;
    margin-left: 100px;
}

#grandeAnuncio .textoAnuncio{
    position: relative;
    top: 215px;
    font-size: 42pt;
}

#grandeAnuncio .blocoAnuncio{
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
}

#grandeAnuncio .blocoAnuncio, #grandeAnuncio .textoAnuncio{
    opacity: 0;
    transition: 0.3s;
}

#grandeAnuncio:hover .blocoAnuncio, #grandeAnuncio .textoAnuncio{
    opacity: 1;
}

#anunciosMenores{
    height: 500px;
    width: 500px;
    float: right;
    margin-right: 100px;
}

#anunciosMenores .textoAnuncio{
    position: relative;
    top: 100px;
    font-size: 28pt;
}

.anuncioMenor{
    width: 250px;
    height: 250px;
    float: right;
}

#anunciosMenores .blocoAnuncio{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
}

.anuncioMenor:nth-child(1){
    background: url(../assets/produtos/celular.png) no-repeat;
    background-size: 100%;
}

.anuncioMenor:nth-child(2){
    background: url(../assets/produtos/computador.jpg) no-repeat;
    background-size: 100%;
}

.anuncioMenor:nth-child(3){
    background: url(../assets/produtos/sofa.png) no-repeat;
    background-size: 100%;
}

.anuncioMenor:nth-child(4){
    background: url(../assets/produtos/cadeiraGamer.png) no-repeat;
    background-size: 100%;
}

.anuncioMenor .textoAnuncio, .anuncioMenor .blocoAnuncio{
    opacity: 0;
    transition: 0.3s;
}

.anuncioMenor:nth-child(1):hover .textoAnuncio, .anuncioMenor:nth-child(1):hover .blocoAnuncio{
    opacity: 1; 
}

.anuncioMenor:nth-child(2):hover .textoAnuncio, .anuncioMenor:nth-child(2):hover .blocoAnuncio{
    opacity: 1;
}

.anuncioMenor:nth-child(3):hover .textoAnuncio, .anuncioMenor:nth-child(3):hover .blocoAnuncio{
    opacity: 1;
}

.anuncioMenor:nth-child(4):hover .textoAnuncio, .anuncioMenor:nth-child(4):hover .blocoAnuncio{
    opacity: 1;
}

#promoDoDia{
    margin: 20px 0px;
    text-align: center;
}

#pagina1{
    display: inline-block;
    transition: 0.3s;
}

#pagina2{
    display: none;
    transition: 0.3s;
}

#pagina3{
    display: none;
    transition:0.3s;
}

.promoItem{
    width: 190px;
    height: 300px;
    margin: 0 13px;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    opacity: 0.8;
    transition: 0.15s;
    text-align: center;
}

.promoItem:hover{
    opacity: 1;
    cursor: pointer; 
    box-shadow: 2.5px 5px 5px rgba(0, 0, 0, 0.2); 
}

.price{
    color: green;
    font-size: 16pt;
    font-weight: bold;
}

.parcelas{
    color: green;
}

#btnCarouselLeft{
    float: left;
    background: url(../assets/seta.png) no-repeat;
    background-size: 100%;
    transform: scaleX(-1);
}

#btnCarouselRight{
    float: right;
    background: url(../assets/seta.png) no-repeat;
    background-size: 100%;
}

.btnCarousel{
    width: 50px;
    height: 50px;
    margin-top: 125px;
    z-index: 3;
    border-radius: 10px;
}

.btnCarousel:hover{
    cursor: pointer;
}

.produtosDiversos{
    background-color: white;
    height: 300px;
    padding: 10px;
    text-align: justify;
    margin-bottom: 20px;
    border-radius: 5px;
}

/*Fim conteudo do site*/

/*Rodapé*/

#rodape{
    background-color: powderblue;
    padding: 10px;
    margin-top: 20px;
}

#conteudoRodape{
    width: 1200px;
    margin: auto;
    margin-bottom: 75px;
    margin-top: 20px;
}

#conteudoRodape ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.tituloRodape{
    margin: auto;
    padding: 0;
    width: 250px;
    text-align: center;
    font-size: 16pt;
    margin-bottom: 10px;
}

#formasPagamento{
    width: 1000px;
    margin: auto;
    background-color: rgba(253, 245, 230, 0.5);
    border-radius: 10px;
    padding: 15px 0;
}

#formasPagamento li{
    display: inline-block;
    padding: 10px 15px;
    font-size: 14pt;
}

#contato{
    width: 550px;
    float: left;
    background-color: rgba(253, 245, 230, 0.5);
    border-radius: 10px;
    padding: 15px 0;
}

#contato ul{
    width: 225px;
    margin: auto;
    text-align: justify;
}

#contato li{
    padding: 5px 0px;
}

#redesSociais{
    width: 550px;
    float: right;
    background-color: rgba(253, 245, 230, 0.5);
    border-radius: 10px;
    padding: 15px 0;
}

#redesSociais li{
    display: inline-block;
    padding: 20px 10px;
}

#infoDev p{
    display: inline-block;
    width: 600px;
    font-weight: bold;
    text-align: justify;
    margin-left: 150px;
}

#infoDev{
    width: 1200px;
    margin: auto;
}

#linkIcons{
    display: inline-block;
    margin-left: 25px; 
}

#linkIcons img{
    border-radius: 50px;
    margin: 0 10px;
}

/*Fim do Rodapé*/

.clear{
    clear: both;
}