body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 850px;
    padding: 0;
    margin: 0;
    background-color: thistle;
}

/* Formatação do Cabeçalho */

#head{
    background-color: #b0e0e6;
}

#head a{
    text-decoration: none;
    color: black;
    font-size: 50pt;
}

#head h1{
    margin: auto;
    width: 275px; 
    padding: 10px 0;
}

/* Fim Cabeçalho */

/*Formatação do Formulario de acesso*/

#areaLogin{
    margin: 75px auto;
    width: 30%;
    padding: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}
#areaLogin form input{
    display: inline-block;
    padding: 15px 20px;
    margin-bottom: 10px;
    width: 75%;
    border-radius: 5px;
    border: none;
}

#areaLogin form h2{
    margin-bottom: 50px;
    font-size: 30pt; 
    width: 57.50%;
    margin: auto;
    margin-bottom: 50px;
}

#areaLogin #btnLogin{
    width: 85%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: cadetblue;
    font-weight: bold;
    font-size: 16pt;
    transition: 0.3s;
}

#areaLogin #btnLogin:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}

#cadastrar{
    width: 30%;
    margin: auto;
    text-align: center;
}

#cadastrar span a{
    color: mediumblue;
}

#cadastrar span{
    font-weight: bold;
}

/*Fim formulario de acesso*/

/*Formatação de formulario de cadastro*/

#areaCadastro{
    max-width: 1366px;
    margin: auto;
}

.formulario{
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

.formulario fieldset{
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px;
    width: 550px;
}

.formulario fieldset legend{
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
}

.formulario fieldset div{
    text-align: center;
    width: 100%;
}

.formulario fieldset input{
    padding: 20px;
    margin: 5px 20px;  
    width: 33.33%; 
    border: none;
    border-radius: 5px;
}

#cases{
    width: 94.6%;
    margin: auto;
}

#endereco{
    float: left;
}

#infoPessoais{
    float: left;
}

#email{
    width: 82%; 
    min-width: 33.33; 
}

#cep{
    width: 20%;
    margin-right: 0;
}

#cidade{
    width: 36%; 
    margin-left: 0;
    margin-right: 0;
}

#estado{
    width: 10%;
    margin-left: 0;
}

#rua{
    width: 65%;
    margin-right: 0;
}

#numCasa{
    width: 9.3%;
    margin-left: 0;
}

#complemento{
    width: 82%;
}

#btnCadastrar{
    width: 20%;
    padding: 15px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: cadetblue;
    font-weight: bold;
    font-size: 16pt;
    transition: 0.3s;
    border: none;
    border-radius: 5px;
}

#btnCadastrar:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}

#acessarLogin{
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: -20px;
    font-weight: bold;
}

#acessarLogin span a{
    color: mediumblue;
}

/*Fim formulario de cadastro*/

.clear{
    clear: both;
}